{% extends 'app-base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
        <div class="text-center mb-3">
            <h1 class="text-2xl font-bold">Compagnie de transport</h1>
            <p class="text-sm mt-1">Connectez-vous à votre espace</p>
        </div>
        {% if error %}
            <twig:Alert variant="destructive" class="max-w-md mb-3">
                <twig:ux:icon name="lucide:circle-alert" />
                <twig:Alert:Title>{{ error.messageKey|trans(error.messageData, 'security') }}</twig:Alert:Title>
            </twig:Alert>
        {% endif %}

        {% if app.user %}
            <twig:Alert variant="warning" class="max-w-md mb-3 border-amber-200 bg-amber-50 text-amber-900 dark:border-amber-900 dark:bg-amber-950 dark:text-amber-50">
                <twig:ux:icon name="lucide:triangle-alert" />
                <twig:Alert:Title>
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ logout_path() }}" class="underline">se déconnecté</a>
                </twig:Alert:Title>
            </twig:Alert>
        {% endif %}
        <twig:Card class="w-full max-w-sm">
            <twig:Card:Header>
                <twig:Card:Title>Connexion</twig:Card:Title>
                <twig:Card:Description>
                    Saisissez votre adresse email et mot de passe ci-dessous pour vous connecter à votre compte
                </twig:Card:Description>
            </twig:Card:Header>
            <twig:Card:Content>
                <form method="post">
                    <div class="flex flex-col gap-6 mb-3">
                        <div class="grid gap-2">
                            <twig:Label for="email">Email</twig:Label>
                            <twig:Input
                                id="email"
                                type="email"
                                value="{{ last_username }}"
                                name="email"
                                placeholder="m@example.com"
                                autocomplete="username"
                                required
                                autofocus
                            />
                        </div>
                        <div class="grid gap-2">
                            <div class="flex items-center">
                                <twig:Label for="password">Mot de passe</twig:Label>
                                <a
                                    href="{{ path('forgot') }}"
                                    class="ml-auto inline-block text-sm underline-offset-4 hover:underline"
                                >
                                    Mot de passe oublié ?
                                </a>
                            </div>
                            <twig:Input 
                                id="password"
                                type="password"
                                required
                                name="password"
                                autocomplete="current-password"
                            />
                        </div>
                        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="flex items-center space-x-2 mb-3">
                        <twig:Checkbox id="terms" name="_remember_me" />
                        <twig:Label for="terms">Se souvenir de moi</twig:Label>
                    </div>
                    <twig:Button type="submit" class="w-full">
                        Se connecter
                    </twig:Button>
                </form>
            </twig:Card:Content>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <twig:Card:Footer>
                <twig:Button as="a" href="{{ path('app_register') }}" variant="outline" class="w-full">S'inscrire</twig:Button>
            </twig:Card:Footer>
            {% endif %}
        </twig:Card>
    </div>
</div>
{% endblock %}
